{#
    This template is used to render errors of type HTTP 403 (Forbidden)

    This is the simplest way to customize error pages in Symfony applications.
    In case you need it, you can also hook into the internal exception handling
    made by Symfony. This allows you to perform advanced tasks and even recover
    your application from some errors.
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}


{% extends 'layout.html.twig' %}

{% block body_id 'error' %}
{% block page_content %}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title"> Acceso Denegado </h3><div style="padding-left:5px;" class="glyphicon glyphicon-warning-sign"></div>
            </div>
<div class="box" style="background-image:url('{{ asset('bundles/mmartin4mantenimiento/img/Error403.png')}}');background-repeat:no-repeat;background-position:center 10px;">
         <!-- /.box-header -->
         <div class="box-body">
           <div style="margin-top:115px" class="text-center" >
              <p class="lead">No tienes permiso para acceder a este recurso.</p>
              <p>Solicita a los administradores de este sitio que te concedan permiso para acceder al recurso solicitado.</p>
              <div ></div>
           </div>
             <hr>
         </div>
</div>
    </div>
 </div>

</div>

</div>
{% endblock %}

{% block sidebar %}
    {{ parent() }} - Acesso Denegado
    {{ show_source_code(_self) }}
{% endblock %}
